<nav class="navbar-header">
    <br />
    <div class="row">
        <div class="col-md-4 col-lg-2 col-xl-2"></div>
    
        <div class="col-md-4 col-lg-2 col-xl-6"></div>
        <div class="col-md-4 col-lg-2 col-xl-4">
          <a class="top-nav" href="#"
            >My Account | Notification | Checkout | Login</a
          ><i class="bi bi-cart"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-2 col-xl-2"></div>
        <div class="col-md-4 col-lg-2 col-xl-4">
          <a class="web-label" href="#">HealthGiggles</a>
        </div>
        <br />
        <div class="col-md-4 col-lg-2 col-xl-6 mt-3">
          <a class="sub-menu" href="#">Home </a>&nbsp;
          <a class="sub-menu" href="#">Your Guide </a>&nbsp;
          <a class="sub-menu" href="#">Guided Services </a>&nbsp;
          <a class="sub-menu" href="#"> Virtual Clinic </a>&nbsp;
          <a class="sub-menu" href="#">Store </a>&nbsp;
          <a class="sub-menu" href="#">Support </a>&nbsp;
          <i class="fa fa-search text-white" aria-hidden="true"></i>&nbsp;
          <span class="text-white"> |</span>&nbsp;
          <i class="fa fa-shopping-cart text-white" aria-hidden="true"></i>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-lg-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-2 col-sm-2 col-xs-2">
          <div class="dropdown">
            <a
              class="dropdown-toggle text-white"
              type="button"
              data-toggle="dropdown"
              >Home Remedies <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-1 col-sm-1 col-xs-1">
          <div class="dropdown">
            <a
              class="dropdown-toggle text-white"
              type="button"
              data-toggle="dropdown"
            >
              Hot Topic <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
          </div>
        </div>&nbsp;&nbsp;&nbsp;
        <div class="col-lg-1 col-sm-1 col-xs-1">
          <div class="dropdown">
            <a
              class="dropdown-toggle text-white"
              type="button"
              data-toggle="dropdown"
              >Women Care <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
          </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="col-lg-1 col-sm-1 col-xs-1">
          <div class="dropdown">
            <a
              class="dropdown-toggle text-white"
              type="button"
              data-toggle="dropdown"
              >Fitness <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-2 col-xs-2">
          <div class="dropdown">
            <a
              class="dropdown-toggle text-white"
              type="button"
              data-toggle="dropdown"
              >Diet Managment <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-sm-2 col-xs-2">
          <div class="dropdown">
            <a
              class="dropdown-toggle text-white"
              type="button"
              data-toggle="dropdown"
              >Human Anatomy <span class="caret"></span
            ></a>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
          </div>
        </div>
      </div>
    
</nav>  